@model MedicalBilling.Models.DiagnosticCodeModels.DiagnosticCodeDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DiagnosticCodeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiagnosticCodeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiagnosticCodeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICD10Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICD10Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiagnosisId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiagnosisId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
