<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medical Billing Code</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:lightblue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                @Html.ActionLink("Medical Billing Code", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="top">
                <div class="form-group">
                    <div class="input-group">
                        <form method="GET" action="index.html" id="searchbar">
                        <input type="text" maxlength="100" class="form-control" id="searchText" placeholder="Search.." />
                        <button type="submit" id="search" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span> 
                        </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("List of Diagnosis", "Index", "Diagnosis")</li>
                    <li>@Html.ActionLink("List of Procedures", "Index", "Procedure")</li>
                    <li>@Html.ActionLink("ICD-10 Codes", "Index", "Procedure")</li>
                </ul>
            </div>

        </div>
    </div>

    @RenderBody()
<footer class="footer">
    <section class="footer_col">
        <h4 class="footer_col Logo">MedicalBillingCode</h4>
    </section>
    <nav class="footer_nav">
        <section class="footer_col">
            <h4 class="footer_col title">Explore</h4>
            <div class="footer_nav list">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("About", "About", "Home")
                <a href="#">Contact</a>
                <a href="#">Careers</a>
            </div>
        </section>

        <section class="footer_col">
            <h4 class="footer_col title">Connect</h4>
            <div class="footer_nav list">
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
                <a href="#">Facebook</a>
            </div>
        </section>

        <section class="footer_col">
            <h4 class="footer_col title">Legal</h4>
            <div class="footer_nav list">
                <a href="/terms" class="footer_link">Terms</a>
                <a href="/privacy" class="footer_link">Privacy</a>
            </div>
        </section>
        <section class="footer_col">
            <h4 class="footer_col title">Role</h4>
            <div class="footer_nav list">
                @Html.ActionLink("Admin", "Login", "Account")
            </div>
        </section>

    </nav>
    <small>&copy; @DateTime.Now.Year - MedicalBillingCode</small>
</footer>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
