<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medical Billing Code</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:lightblue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                @Html.ActionLink("Medical Billing Code", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("List of Diagnosis", "Index", "Diagnosis")</li>
                    <li>@Html.ActionLink("List of Procedures", "Index", "Procedure")</li>
                    <li>@Html.ActionLink("Diagnosis Codes", "Index1", "DiagnosisCode")</li>
                    <li>@Html.ActionLink("Procedure Codes", "Index1", "ProcedureCode")</li>
                </ul>
            </div>

        </div>
    </div>

    @RenderBody()
<div class="wrapper">
<footer class="footer">
    <section class="footer_col">
        <h4 class="footer_col Logo">MedicalBillingCode</h4>
        
    </section>
    <nav class="footer_nav">
        <section class="footer_col">
            <h4 class="footer_col title">Explore</h4>
            <div class="footer_nav list">
                @Html.ActionLink("Home", "Index", "Home")
                @Html.ActionLink("About", "About", "Home")
                @Html.ActionLink("Contact", "Contact", "Home")
                @Html.ActionLink("Careers", "NotFound", "Error")
            </div>
        </section>

        <section class="footer_col">
            <h4 class="footer_col title">Connect</h4>
            <div class="footer_nav list">
                <a href="#">Twitter</a>
                <a href="#">LinkedIn</a>
                <a href="#">Facebook</a>
            </div>
        </section>

        <section class="footer_col">
            <h4 class="footer_col title">Legal</h4>
            <div class="footer_nav list">
                <a href="/terms" class="footer_link">Terms</a>
                <a href="/privacy" class="footer_link">Privacy</a>
            </div>
        </section>
        <section class="footer_col">
            <h4 class="footer_col title">Admin</h4>
            <div class="footer_nav list">
                @Html.ActionLink("Login", "Login", "Account")
                @Html.ActionLink("Register","Register","Account")
                @Html.ActionLink("Role","Index","Role")

            </div>
        </section>

    </nav>
    <small>&copy; @DateTime.Now.Year - MedicalBillingCode</small>
    
</footer>
        </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


