<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medical Billing Code</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:darkgray;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Medical Billing Code", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Diagnoses", "Index", "Diagnosis")</li>
                    <li>@Html.ActionLink("Procedures", "Index", "Procedure")</li>
                </ul>
                <form class="navbar-form navbar-right" action="~/">
                    <div class="input-group">
                        {
                            @Html.TextBox("search")<input type="submit" value="Search" />
                        }
                    </div>
                </form>
            </div>
           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer style="bottom:0;position:fixed;">
            <div class="info">
                <ul>
                    <li>&copy; @DateTime.Now.Year - My ASP.NET Application</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Role", "Index", "Role")</li>
                    <li>@Html.Partial("_LoginPartial")</li>
                    <li id="icon"><a href="#"><img src="https://cdn2.iconfinder.com/data/icons/minimalism/512/twitter.png" width="30" height="30"></a></li>
                    <li id="icon"><a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Linkedin.svg/1200px-Linkedin.svg.png" width="30" height="30"></a></li>
                    <li id="icon"><a href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-network-7/50/3-512.png" width="30" height="30"></a></li>
                </ul>
                </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
