@model MedicalBilling.Models.ProcedureCodeModels.ProcedureCodeDetail

@{
    ViewBag.Title = "Details";

}

<div>
    <dl class="dl-horizontal">
       
        <dt style="font-size:25px">
            @Html.DisplayNameFor(model => model.ICD10Code):
        </dt>

        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.ICD10Code)
        </dd>
    </dl>
</div>
<div>
    <dl class="dl-horizontal">
        <dt style="font-size:25px">
            @Html.DisplayNameFor(model => model.Price):
        </dt>

        <dd style="font-size:20px">
            @Html.DisplayFor(model => model.Price)

            <p>*prices are subject to change</p>
        </dd>

    </dl>
</div>
<br />
<br />
<br />
<br />
<p>
    @Html.ActionLink("Back to List", "Index","Procedure")
</p>
