@model IEnumerable<MedicalBilling.Models.ProcedureCodeModels.ProcedureCodeDetail>

@{
    ViewBag.Title = "Index";
}

<h2>ProcedureCode</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProcedureId)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ProcedureCodeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ICD10Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProcedureId)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ProcedureCodeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ICD10Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.ProcedureCodeId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ProcedureCodeId  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProcedureCodeId })
        </td>
    </tr>
}

</table>
