@model MedicalBilling.Models.DiagnosisModels.DiagnosisDetail

@{
    ViewBag.Title = "Details";
}

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dd style="font-size:40px; margin-top:2em">
                @Html.DisplayFor(model => model.Name)
            </dd>
            </dl>
        </div>

            <div>
                <dl class="dl-horizontal">

                    <dd style="font-size:40px">
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt style="font-size:25px">
                        @Html.DisplayNameFor(model => model.Description):
                    </dt>

                    <dd style="font-size:20px">
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt style="font-size:25px">
                        @Html.DisplayNameFor(model => model.Symptoms):
                    </dt>

                    <dd style="font-size:20px">
                        @Html.DisplayFor(model => model.Symptoms)
                    </dd>

                    <dt style="font-size:25px">
                        @Html.DisplayNameFor(model => model.Treatments):
                    </dt>

                    <dd style="font-size:20px">
                        @Html.DisplayFor(model => model.Treatments)
                    </dd>


                </dl>
            </div>

            <div>

                @{Html.RenderAction("Details", "DiagnosisCode", new { id = Model.DiagnosisId });}
            </div>

