@model IEnumerable<MedicalBilling.Models.DiagnosisModels.DiagnosisDetail>
@{
    ViewBag.Title = "Index";
}

    <h1>
        Diagnoses
        @Html.ActionLink("*", "Create")
    </h1>


<table class="table">
    <tr>
        <th stye="font-size:20px">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th stye="font-size:20px">
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td stye="font-size:20px">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td stye="font-size:20px">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.DiagnosisId})
            </td>
        </tr>
    }
</table>
