@model IEnumerable<MedicalBilling.Models.DiagnosisModels.DiagnosisDetail>
@{
    ViewBag.Title = "Index";
}

<h1 style="padding:1em; margin-left:2em;">
    Diagnoses
</h1>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th style="font-size: 15px;font-style:oblique">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="font-size:15px;font-style:oblique">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr id="demo" onmouseover="mouseOver()" onmouseout="mouseOut()">
                <td  style="font-size:15px;font-weight:bold" onclick="@("window.location.href='" + @Url.Action("Details", "Diagnosis",new { id = item.DiagnosisId }) + "'");">

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td  style="font-size:15px"  onclick="@("window.location.href='" + @Url.Action("Details", "Diagnosis",new { id = item.DiagnosisId }) + "'");" >
                    
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                </td>
            </tr>
        }
    </table>
</div>

