@model MedicalBilling.Models.ProcedureModel.ProcedureDetail

@{
    ViewBag.Title = "Details";
}

    <div>
        <dl class="dl-horizontal">
            <dd style="font-size:30px; margin-top:2em">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>

            <div>
                <dl class="dl-horizontal" style="padding:1em">
          
                    <dt style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Description):
                    </dt>

                    <dd style="font-size:15px">
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Preperation):
                    </dt>

                    <dd style="font-size:15px">
                        @Html.DisplayFor(model => model.Preperation)
                    </dd>

                    <dt style="font-size:20px">
                        @Html.DisplayNameFor(model => model.Risks):
                    </dt>

                    <dd style="font-size:15px">
                        @Html.DisplayFor(model => model.Risks)
                    </dd>

                </dl>
            </div>
            <p>

                @{Html.RenderAction("Details", "ProcedureCode", new { id = Model.ProcedureId });}
            </p>
